body {
    background-color:lightblue
}

#scores {
    text-align: left;

}

#timer {
    text-align: center;
    font-size: large;
    margin-top: 20px;
    margin-bottom: 20px;
}

#title {
    text-align: center;
}

#objective {
    text-align: center;
    margin: 10%;
}

#button {
    text-align: center;
}

 /* THIS IS NOT WORKING TO CENTER THE BUTTON
    FOR index.HTML; BUT DOES WORK FOR indexBS.HTML */

#startBtn {
    text-align: center;
}


