body {
    background-color:lightblue
}

#scores {
    text-align: left;
}

#timer {
    text-align: right;
}

#title {
    text-align: center;
}

#objective {
    text-align: center;
}

/*  THIS IS NOT WORKING TO CENTER THE BUTTON
#start {
    margin-left:auto;
    margin-right:auto;
} */


